[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
easyocr = "*"
"discord.py" = "*"
opencv-python = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.7"
